<div [ngSwitch]="showPage">
  <ng-template ngSwitchDefault="welcome">
    <app-welcome-page (startGame)="switchPage($event)"></app-welcome-page>
  </ng-template>

  <ng-template ngSwitchCase="gameSetup">
    <app-game-setup (roleReveal)="switchPage($event)"></app-game-setup>
  </ng-template>

  <ng-template ngSwitchCase="playerList">
    <app-game-setup></app-game-setup>
  </ng-template>

  <ng-template ngSwitchCase="roleReveal">
    <app-role-reveal (startGame)="switchPage($event)"></app-role-reveal>
  </ng-template>
</div>
<div>
  <mat-button-toggle-group name="language" value="{{ls.language}}" (change)="changeLanguage($event)">
    <mat-button-toggle value="English">{{ls.s["eng"]}}</mat-button-toggle>
    <mat-button-toggle value="Chinese">{{ls.s["chn"]}}</mat-button-toggle>
  </mat-button-toggle-group>
</div>
