<div
    class="content-area"
    [ngSwitch]="showPage"
>
    <ng-template ngSwitchDefault="gameLobby">
        <app-game-lobby
            [gameCode]="gameCode"
            [gameData]="gameData"
            [players]="players"
            (switchPage)="switchPage($event)"
        ></app-game-lobby>
    </ng-template>

    <ng-template ngSwitchCase="gameConfig">

        <app-game-config-ol (switchPage)="switchPage($event)"></app-game-config-ol>
    </ng-template>

    <ng-template ngSwitchCase="notFound">
        <app-not-found (switchPage)="switchPage($event)"></app-not-found>
    </ng-template>
</div>
