<div>
  <h2 mat-dialog-title style="font-weight: 600; text-align: center">
    {{data.dialogTitle}}</h2>
  <form>
    <div class="dialogInput">

      <div *ngIf="data.isJoin">
        <mat-form-field floatLabel="auto" appearance="outline">
          <mat-label>{{ls.s['enterRoomCode']}}</mat-label>
          <input name="roomNumber" [(ngModel)]="data.roomCode" matInput (ngModelChange)="onChange($event)" required>
        </mat-form-field>
      </div>
      <mat-form-field floatLabel="auto" appearance="outline">
        <mat-label>{{ls.s['enterUserName']}}</mat-label>
        <input name="username" [(ngModel)]="data.username" matInput (ngModelChange)="onChange($event)" required>
        <!-- <mat-error *ngIf="invalid room number">{{getErrorMessage()}}</mat-error> -->
      </mat-form-field>

    </div>
  </form>
  <mat-dialog-actions>
    <button mat-stroked-button color="primary" (click)="onCancelClick()">{{ls.s['cancel']}}</button>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button mat-stroked-button color="primary" [disabled]=" data.usernameInvalid || data.roomCodeInvalid" (click)="onConfirmClick()">{{ls.s['next']}}</button>
    <mat-error *ngIf="data.roomCodeInvalid">{{getErrorMessageRoomCode()}}</mat-error>
    <mat-error *ngIf="data.usernameInvalid">{{getErrorMessageUsername()}}</mat-error>
  </mat-dialog-actions>
</div>