<div>
    <h2 style="text-align: center"> {{ls.s["welcomeToGame"]}}</h2>
    <hr>
    <br/>
    <div>
        <mat-form-field appearance="outline">
            <mat-label>{{ls.s['roomNumber']}}</mat-label>
            <input matInput>
            <!-- <mat-error *ngIf="invalid room number">{{getErrorMessage()}}</mat-error> -->
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>{{ls.s['userName']}}</mat-label>
            <input matInput required>
        </mat-form-field>
    </div>
    <br/>
    <!-- <div style="display: flex;
    justify-content: center;">

        <button mat-stroked-button color="primary" (click)="onCancelClick()">{{ls.s['cancel']}}</button>

        <button mat-stroked-button color="primary">{{ls.s['next']}}</button> -->
    <!-- <mat-error *ngIf="roomCodeInputControl.invalid">
            {{ls.s['noRoomCodeError']}}
        </mat-error> -->


    <!-- </div> -->
    <div style="float:right">
        <mat-dialog-actions>
            <nav>
                <a routerLink='' routerLinkActive="active">
                    <button mat-icon-button matTooltip="{{ls.s['next']}}" (click)="enterGameLobby()">
                        <mat-icon>arrow_forward</mat-icon>
                    </button>
                </a>
            </nav>
            <!-- <router-outlet></router-outlet> -->
        </mat-dialog-actions>
    </div>
</div>