<div>
    <h2
        mat-dialog-title
        class="dialog-title"
    >
        {{data.dialogTitle}}
    </h2>
    <mat-dialog-content class="dialogInput">

        <div *ngIf="data.isJoin">
            <mat-form-field
                floatLabel="auto"
                appearance="outline"
            >
                <mat-label>{{ls.s['enterRoomCode']}}</mat-label>
                <input
                    name="roomNumber"
                    [(ngModel)]="data.roomCode"
                    matInput
                    (ngModelChange)="onChange($event)"
                    required
                    (keydown.space)="$event.preventDefault();"
                >
            </mat-form-field>
        </div>
        <mat-form-field
            floatLabel="auto"
            appearance="outline"
        >
            <mat-label>{{ls.s['enterUserName']}}</mat-label>
            <input
                name="username"
                [(ngModel)]="data.username"
                matInput
                required
                (keydown.space)="$event.preventDefault();"
            >
        </mat-form-field>

        <div class="room-error">
            <mat-error *ngIf="gameCodeInvalid">{{ls.s['roomNotExist']}}</mat-error>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button
            mat-stroked-button
            color="primary"
            [disabled]="gameCodeInvalid || data.username.trim() === ''"
            (click)="onConfirmClick()"
        >
            {{ls.s['next']}}
        </button>
    </mat-dialog-actions>
</div>
