<mat-card>
  <mat-card-title>
    {{ls.s["welcomeToGame"]}}
  </mat-card-title>
  <mat-card-subtitle>
    {{ls.s["addToHomeScreen"]}}
  </mat-card-subtitle>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="openCreateDialog()">{{ls.s["createGame"]}}</button>
    <button mat-raised-button color="primary" (click)="openJoinDialog()">{{ls.s["joinGame"]}}</button>
  </mat-card-actions>
</mat-card>
<button mat-button [routerLink]="['offline']" class="modeChangeBtn">{{ls.s["goToOffLine"]}}</button>
