<mat-card class="setup-card">
  <!-- Setup Title -->
  <mat-card-title>
    {{ls.s["gameSetup"]}}
  </mat-card-title>
  <mat-card-subtitle>
    {{ls.s["setupSubtitle"]}}
  </mat-card-subtitle>
  <!-- Setup Title ends -->
  <mat-card-content>
    <mat-accordion multi="true">
      <mat-expansion-panel expanded="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ls.s['basicRoles']}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-list>
          <mat-list-item>
            <p>
              <mat-form-field>
                <mat-label>{{ls.s['numOfWerewolf']}}</mat-label>
                <button mat-icon-button (click)="minusWerewolf()" (click)="sumPlayer()">
                  <mat-icon matPreffix>remove_circle_outline</mat-icon>
                </button>

                <input matInput placeholder="{{ls.s['numOfWerewolf']}}" class="mat-input" [(ngModel)]="numWerewolf" (change)="sumPlayer()"
                  type="number" [formControl]="numberInputControl" [errorStateMatcher]="matcher">
                <mat-error *ngIf="numberInputControl.hasError('numWerewolf') && !numberInputControl.hasError('required')">
                  Please enter a valid number of werewolf
                </mat-error>
                <mat-error *ngIf="numberInputControl.hasError('required')">
                  Werewolf number is
                  <strong>required</strong>
                </mat-error>

                <button mat-icon-button (click)="addWerewolf()" (click)="sumPlayer()">
                  <mat-icon matSuffix>add_circle_outline</mat-icon>
                </button>
              </mat-form-field>
            </p>
          </mat-list-item>

          <mat-list-item class="space">
            <p>
              <mat-form-field>
                <mat-label>{{ls.s['numOfVillager']}}</mat-label>
                <button mat-icon-button (click)="minusVillager()" (click)="sumPlayer()">
                  <mat-icon matPreffix>remove_circle_outline</mat-icon>
                </button>
                <!-- <input matInput placeholder="{{ls.s['numOfWerewolf']}}" class="mat-input" [(ngModel)]="numWerewolf" (change)="sumPlayer()"
                  type="number" [formControl]="numberInputControl" [errorStateMatcher]="matcher"> -->

                <input matInput placeholder="{{ls.s['numOfVillager']}}" class="mat-input" [(ngModel)]="numVillager" (change)="sumPlayer()"
                  type="number" [formControl]="villagerInputControl" [errorStateMatcher]="matcher">
                <mat-error *ngIf="villagerInputControl.hasError('numVillager') && !villagerInputControl.hasError('required')">
                  Please enter a valid number of villager
                </mat-error>
                <mat-error *ngIf="villagerInputControl.hasError('required')">
                  Villager number is
                  <strong>required</strong>
                </mat-error>
                <button mat-icon-button (click)="addVillager()" (click)="sumPlayer()">
                  <mat-icon matSuffix>add_circle_outline</mat-icon>
                </button>
              </mat-form-field>
            </p>
          </mat-list-item>
          <mat-list-item>
            <section class="input-section">
              <mat-checkbox class="std-margin" name="seer" (change)="sumPlayer()" [(ngModel)]="seer" checked="true">{{ls.s['seer']}}</mat-checkbox>
              <mat-checkbox class="std-margin" name="guardian" (change)="sumPlayer()" [(ngModel)]="guardian" checked="true">{{ls.s['guardian']}}</mat-checkbox>
            </section>
          </mat-list-item>
        </mat-list>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ls.s['advancedRoles']}}
          </mat-panel-title>
          <mat-panel-description>
            {{ls.s['comingSoon']}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-list>
          <mat-list-item>
            <section class="input-section">
              <mat-checkbox class="std-margin">{{ls.s['hunter']}}</mat-checkbox>
              <mat-checkbox class="std-margin">{{ls.s['witch']}}</mat-checkbox>
            </section>
          </mat-list-item>
        </mat-list>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card-content>
  <mat-card-footer>
    {{ls.s['totalPlayer']}} {{numPlayer}}
  </mat-card-footer>
  <mat-card-actions>
    <button color="primary" (click)="finishConfig()" mat-raised-button [disabled]="finishBtnDisable">{{ls.s['finishConfig']}}</button>
  </mat-card-actions>
</mat-card>