mat-list-item {
  margin-top: 10px;
}

.input-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.mat-input{
  width: 90px;
  height: 40px;
  align-content: center;
  border-bottom-color: white;
}

.mat-input-container.app-input-no-underline .mat-input-underline {
  display: none;
}

.space{
  margin-top: 28px
}



