<mat-card>
  <mat-card-title>
    Role
  </mat-card-title>
  <div *ngIf="displayRole; else nameInput">
    <div (click)="next()">

      <mat-card-subtitle>
        Please tap to confirm
      </mat-card-subtitle>
      <mat-card-content>
        {{name}}. Your role is {{roleToDisplay}}. GLHF
      </mat-card-content>
    </div>

  </div>

  <ng-template #nameInput>
    <mat-form-field>
      <input matInput [(ngModel)]="name" type="text" placeholder="{{ls.s['InputYourName']}}">
    </mat-form-field>
    <div>
      <button mat-raised-button (click)="showRole()">{{ls.s['showRole']}}</button>
    </div>
  </ng-template>
</mat-card>
