<mat-card>
    <mat-card-title>{{gameCode.toUpperCase()}}</mat-card-title>
    <button mat-icon-button>
        <mat-icon>person_add</mat-icon>
    </button>

</mat-card>
<mat-card>
    <div *ngIf="gameData">
        <mat-list>
            <mat-list-item *ngFor="let player of players">
                <mat-icon *ngIf="creator.id === player.id">person_pin</mat-icon>
                <mat-label>{{player.name}}</mat-label>
            </mat-list-item>

        </mat-list>
    </div>

</mat-card>
<mat-card *ngIf="disableActions">
    <button
        class="game-lobby-action-btn config-btn"
        mat-stroked-button
        color="primary"
        (click)="clickConfig()"
    >
        {{ls.s["gameSetup"]}}
    </button>
    <button
        class="game-lobby-action-btn"
        mat-raised-button
        (click)="startGame()"
        color="primary"
        [disabled]="this.players.length !== this.roles.length"
    >
        {{ls.s["startGame"]}}
    </button>
</mat-card>
